@font-face {
  font-family: 'Berkin';
  src: url("../fonts/BerkshireSwash-Regular.ttf");
  font-size: 2em;
}
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Regular.ttf");
}



/* Desktop grande */
@media (min-width: 1200px) {
  header #header-logo{   /* start header*/
     /* border-radius: 10px 10px 10px 10px; */
    border-radius: 80%; 
    border: solid 1px white;
    box-shadow: #263c70 1px 1px 5px 1px;
    height: 70px;
    margin: 8px 0 5px 415px;
    padding-right: 5px;
    width: 70px;
  }

  header h1{
    color: #263c70;
    float: right;
    font-size: 40px;
    font-family: 'Berkin';
    margin: 20px 350px 0px 0px;
    text-shadow: #888 5px 5px 10px;
  }
  /*End header*/

  .menu-principal {  /*Menu de navegação*/
    background-color: #263c70;
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
  }

  .menu-principal ul{
      margin: 10px;
    }
  .menu-principal ul li {
    padding-left: 160px;

  }

  nav.menu-principal li {
    display: inline-block;
    font-weight: bolder;
    text-decoration: none;
    float: left;
    margin: 0 0 0 50px;
  }
  .menu-principal li a{
    color: #ecf0f1;
    font-family: 'Oswald';
    font-size: 2em;
    transition: 0.6s;
    text-decoration: none;
  }

  .menu-principal a:hover{
  font-size: 2.2em;
>>>>>>> responsivo
  text-decoration: underline;
  }
  /*  End Menu */

  .sombra-caixa {
    border: 1px solid #FFF;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #6C7A89;
    margin:10px;
  }

  .artigos-recentes hr{
    border: solid 3px #6C7A89;
    margin:-5px auto 45px;
    width: 200px;
  }

  .artigos-recentes h1{
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 50px;
    text-align: center;
  }

  .artigos-recentes {
    height: 700px;
    padding-top:50px;
    width: 90%;
  }


  .artigos-recentes .quadro-artigos{
    height: 400px;
    margin: 0 auto;
    width: 90%;
  }
  .artigos-antigos{
    margin: 40px 10px 30px 5px;
  }
  .artigos-antigos h2{
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Oswald';
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .title-artigo {
    font-family: 'Oswald';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
  }

  .artigos-antigos hr{
    border: solid 3px #6C7A89;
    margin:-5px auto 45px;
    width: 200px;
  }

  .artigos-antigos p{
    font-family: 'Oswald';
    font-size: 1.3em;
    text-align: center;
  }
  aside .col-md-3{
    box-sizing: border-box;
    height: 200px;
    margin-bottom: 50px;
    width: 250px;
  }

  .rodape{
    background-color: #263c70;
    height: 150px;
    width: 100%;
  }
  .rodape .list-socials{
    margin-top: 4px;
  }

  .rodape ul{
    margin-left: 560px;
  }
  .rodape .list-socials li{
    display: inline-block;
  }

  .list-socials i {
    font-size: 60px;
    margin-top: 10px;
    padding: 10px;
  }
  .list-socials a {
    color: #FFF;
  }
  .list-socials a:visited{
    color: #FFF;
  }

  .list-socials a:hover {
    color: #162f73  ;
  }
  .list-socials a{
    outline: none;
  }
  .azul-cima{
    border-bottom:solid 1px #162f73;
    height: 100px;
  }
  .row-azul-fim p {
    color: #FFF;
    font-family: "Oswald";
    font-size: 22px;
    margin-top: 7px;
  }
  /*  ESTILO PÁGINA CARREIRA*/

  div.container img {
    border-radius: 200px;
    height: 400px;
    width: 400px;
  }

}
